*/**/node_modules
*/**/logs
*/**/*.log
*/**/npm-debug.log*
*/**/yarn-debug.log*
*/**/yarn-error.log*
*/**/pnpm-debug.log*
*/**/lerna-debug.log*

*/**/dist
*/**/dist-ssr
*/**/*.local

*/**/# Editor directories and files
*/**/.vscode/*
*/**/!.vscode/extensions.json
*/**/.idea
*/**/.DS_Store
*/**/*.suo
*/**/*.ntvs*
*/**/*.njsproj
*/**/*.sln
*/**/*.sw?

# Next
*/**/.pnp
*/**/.pnp.js
*/**/.yarn/install-state.gz

*/**/coverage

*/**/.next/
*/**/out/

*/**/build

*/**/.DS_Store
*/**/*.pem

*/**/.env*.local

*/**/.vercel

*/**/*.tsbuildinfo
*/**/next-env.d.ts